*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.footer{
    width: 100%;
    padding-top: 32px;
    box-sizing: border-box;
    outline: none;
    border-top: 1px solid #e0e0e2;
    margin-top: 48px;
    display: block;
}
.footer-top{
    width: 100%;
    max-width: 1330px;
    height: 44px;
    margin: 0 auto;
    padding: 20px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top img{
    height: 30px;
    width: 195px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 10px;
}
.back-top{
    width: 138px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    background-color: white;
    color: #a1a3a8;
    font-family: var(--font-family);
    font-size: 12px;
    cursor: pointer;
}
.footer-contact{
    width: 100%;
    max-width: 1330px;
    margin: 14px auto 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-services{
    width: 100%;
    max-width: 1330px;
    margin: 32px auto;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.service{
    flex: 1;
    min-width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
.service img{
    width: 56px;
    height: 56px;
}
.service p{
    font-size: 12px;
    font-weight: 400;
    color: #3f4064;
    font-family: var(--font-family);
}
.footer-links{
    width: 100%;
    max-width: 1330px;

    margin: 40px auto;

    padding: 0 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: wrap;
    gap: 30px;
}
.footer-column{
    flex: 1;
    min-width: 220px;

    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-column h4{
    color: #3f4064;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 8px;
}
.footer-column a{
    text-decoration: none;
    color: #81858b;
    font-size: 14px;
    font-family: var(--font-family);
    transition: 200ms;
}
.footer-column a:hover{
    color: #19bfd3;
}
.footer-social{
    width: 22%;
}
.social-right h4,
.social-left h4{
    color: #3f4064;
    font-size: 16px;
    font-family: var(--font-family);
    margin-bottom: 20px;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}
.social-icons a{
    color: #a1a3a8;
    font-size: 40px;
    transition: 200ms;
}
.social-icons a:hover{
    color: #19bfd3;
}
.email-box{
    width: 265px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.email-box input{
    width: 100%;
    height: 100%;
    background-color: #f0f0f1;
    border: none;
    outline: none;
    border-radius: 8px;
    padding-right: 16px;
    font-size: 15px;
    font-family: var(--font-family);
    display: flex;
    flex-grow: 1;
}
.social-left .register{
    width: 54px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e2;
    color: white;
    font-family: var(--font-family);
    font-size: 14px;
    cursor: pointer;
}
.footer-app-download{
    width: 100%;
    max-width: 1330px;
    height: 76px;
    background-color: #3c4b6d;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 28px;
    border-bottom: 1px solid #e0e0e2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.footer-app-download img{
    height: 44px;
    width: 44px;
}
.footer-app-download h4{
    color: white;
    flex-shrink: 0;
    font-size: 22px;
    font-weight: 500px;
    font-family: var(--font-family);
    margin: 0;
}
.app-stores{
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 5px;
}
.app-stores img{
    width: 142px;
    height: 44px;
    border-radius: 4px;
    cursor: pointer;
}
.app-stores .more-image{
    width: 42px;
    height: 44px;
    background-color: white;
    border-radius: 4px;
}
.about{
    width: 100%;
    max-width: 1330px;
    margin: 32px auto;
    padding: 32px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.right-text{
    flex: 1;
    min-width: 300px;
}
.right-text h3{
    font-family: var(--font-family);
    font-size: 21px;
    font-weight: 700;
    color: #62666d;
    margin-bottom: 12px;
}
.right-text p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 26px;
    color: #81858b;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.more-text{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.more-text h5{
    color: #19bfd3;
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 500;
}
.more-text img{
    width: 18px;
    height: 18px;
}
.left-pic{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.license{
    width: 108px;
    height: 108px;
    border: 1px solid #e0e0e2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.license img{
    width: 75px;
    height: 75px;
    object-fit: contain;
}
.copyright{
    font-family: var(--font-family);
    font-size: 13px;
    color: #81858b;
    text-align: center;
}
.company{
    width: 100%;
    margin-top: 48px;

    display: grid;

    grid-template-columns: repeat(auto-fit , minmax(160px , 1fr));

    border-top: 1px solid #e0e0e2;
    border-bottom: 1px solid #e0e0e2;
}
.company-pic{
    height: 80px;
    background-color: #f0f0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #e0e0e2;
}
.company-pic img{
    width: 100%;
    max-width: 110px;
    height: 20px;
    object-fit: contain;
}