.amazing{
    max-width: 1330px;
    height: 812px;
    margin: 20px auto;
    background: white;
    border-radius: 16px;
    border: 1px solid #e0e0e2;
    overflow: hidden;
}

.amazing-header{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amazing-header h2{
    font-family: var(--font-family);
    font-size: 21px;
    font-weight: 500;
}

.amazing-products{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.amazing-item{
    padding: 20px;
    border-left: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
    transition: 300ms;
    cursor: pointer;
}

.amazing-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.amazing-item img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
    margin: auto;
}

.price-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.discount{
    width: 34px;
    height: 20px;
    background: #ef4056;
    color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-size: 12px;
}

.price{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
    color: #3f4064;
}

.old-price{
    font-size: 12px;
    color: #c0c2c5;
    text-decoration: line-through;
    text-align: left;
    margin-top: 8px;
}