* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
}
@font-face {
  font-family: IRANYekan;
  src: url(../fonts/Yekan.ttf);
}
:root{
  --font-family:IRANYekan;
}
.swiper-button-next,.swiper-button-prev{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(128, 127, 127);
  background-color: whitesmoke;
  border: 1px solid  rgb(229, 229, 229);
  outline: none;
}
.swiper-navigation-icon{
  width: 8px !important;
  path{
    fill: #2b2b2b;
  }
}
.swiper-button-disabled{
  opacity: 0 !important;
}
.swiper-pagination-bullet{
  width: 5px;
  height: 5px;
  background-color: #2b2b2b;
  transition: 300ms;
}
.swiper-pagination-bullet-active{
  width: 20px;
  height: 5px;
  background-color: whitesmoke;
  border-radius: 2px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
}